

body {
  margin: 0;
  padding: 0;
  text-align: center; 
  background: url(./images/rainbow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.panel {
	background: white;
	height: 700px;
	padding: 50px;
}



h3 {
	color: gray;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.italics {
	font-style: italic;
	color:silver;
}
.recent-projects {
	color: green;
}

