
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  margin: 0;
  padding: 0;
  text-align: center; 
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel {
	background: white;
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 40px;
	opacity: 0.8;
	font-family: 'Gloria Hallelujah', cursive;


}

.container { 
	padding: 75px; 
}

.box {
	background: silver; 
	padding: 0px;
	font-family: 'Gloria Hallelujah', cursive;

}


.italics {
	font-style: italic;
	color:silver;
}
.recent-projects {
	color: green;
}



